
  .titles {
    display: flex;
  }
  
  .card-title {
    flex: 2;
  }
  
  .balance-title {
    flex: 2;
    display: flex;
    justify-content: right;
  }

  .balance {
    flex: 10;
    display: flex;
    justify-content: right;
  }